body {
    font-family: 'Arial', sans-serif;
    background-image: url(18b10fff5ac3fbbad1c9a43ded4cd4e9.jpg);
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed; 
    color: #333;
    line-height: 1.6;
}

header {
    background-color: rgba(44, 62, 80, 0.8); 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.cart {
    font-size: 16px;
}

.products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product {
    background-image: url(fogo.jpg);
    background-size: cover;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h3 {
    margin: 15px 0 10px;
    color: rgb(207, 207, 207);
}

.product .price {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.product button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #2ecc71;
}

#cart-details {
    margin: 20px;
    padding: 20px;
    background: rgba(235, 113, 82, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#cart-table {
    width: 100%;
    border-collapse: collapse;
}

#cart-table th, #cart-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#cart-table th {
    background-color: rgba(43, 26, 25, 0.8); 
    color: white;
}

#cart-table td button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#cart-table td button:hover {
    background-color: #c0392b;
}
#checkout-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#checkout-button:hover {
    background-color: #2980b9;
}
